{% extends "layout.html" %}


{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'ariza.css' %}">

<br><br><br>


<form class="abc" method="POST">
  {% csrf_token %}
<div class="cust" >
    <br><br><br>
    <div  style="width:200px; height:100px ; display: inline;" >
      <h4 style="display: inline;">Şehir adını yazınız:</h4>
      {{form.sehir}}
      <br><br>
    
  </div>

  
  <div  style="width:200px; height:100px ; display: inline;" >
    <h4 style="display: inline;">Mahalle adını yazınız:</h4>
          {{form.mahalle}}
          <br><br>

   
  </div>

  
  <div  style="width:200px; height:100px ; display: inline;" >
   
    <h4 style="display: inline;">Arızayı belirtiniz:</h4>
          {{form.ariza}}
          <br><br>

   
  </div>


  <div  style="width:200px; height:100px ; display: inline;" >
    <h4 style="display: inline;">Tamirci adını yazınız:</h4>
      {{form.tamirci}}
        <br>
    
  </div>

</div>

<br>
<h4 style="display: inline;">Arıza detaylarını yazınız:</h4>
  
  {{form.arizadetay}}
  <br><br>

<button type="submit" class="btn btn-outline-danger" value="Arıza Oluştur"> ARIZA OLUSTUR </button>
<button type="reset" class="btn btn-outline-danger" value="Sıfırla"> SIFIRLA </button>
<button type="button" onclick="window.location.href='/homePage';" class="btn btn-outline-danger">İptal Et</button>

</form>

  <br>
  <br>

  
  
  










{% endblock body %}