{% extends "layout.html" %}
{% load static %}
{% block body %}
    <title>EditProfile</title>
    <link rel="stylesheet" href="{% static 'arizadetay.css' %}">
    <div class="container my-5 py-5 z-depth-1">
        <section class="px-md-5 mx-md-5 text-center text-lg-left">
            <div class="row d-flex justify-content-center">
               
                <div class="col-md-8">
                    <h2>Arıza Detayı </h2>
                <div id="box">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex suscipit unde molestiae doloribus consequatur ducimus labore alias, quos vero, libero provident perferendis delectus sequi, eligendi vel. Velit autem vitae doloribus.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum vel ullam corrupti. Cum maxime nobis, quae eveniet magni modi molestias unde voluptatem deserunt consectetur ad dolores quia hic earum tenetur.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque animi dolorem corporis qui, nam laboriosam cupiditate voluptatibus excepturi in reprehenderit atque sit repellendus quisquam dignissimos eligendi reiciendis voluptas asperiores odit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat esse sint veritatis ex, suscipit dolor! Molestiae reiciendis deserunt doloribus eligendi fugit quis at commodi? Odio dolorum alias consectetur at nostrum.
                    </p>
                </div>
                
                    <button type="button" class="btn btn-dark">Mesaj Gönder</button>
                </div>
                

            </div>
        </section>
    </div>

    {% endblock body %}