{% extends "layout.html" %}


{% load static %} 
{% block body %}

<link rel="stylesheet" href="{% static 'ariza.css' %}">

<br><br><br>
<div class="cust" >
    <br><br><br>
<div class="custom-select" style="width:200px;">
    <select>
      <option value="0">Şehir Seçiniz:</option>
      <option value="1">İstanbul</option>
      <option value="2">Ankara</option>
      <option value="3">İzmir</option>
     
    </select>
  </div>
  

  <div class="custom-select" style="width:200px;">
    <select>
      <option value="0">Mahalle Seçiniz:</option>
      <option value="1">Cumhuriyet Mah.</option>
      <option value="2">Bulgurlu Mah.</option>
      <option value="3">Namık Kemal Mah.</option>
      
     
    </select>
  </div>

  <div class="custom-select"  style="width:200px;">
    <select>
      <option value="0">Arıza Seçiniz:</option>
      <option value="1">Çekici</option>
      <option value="2">Lastik Tamircisi</option>
      <option value="3">Akü Takviyesi</option>
      
     
    </select>
  </div>


  <div class="custom-select"  style="width:200px;">
    <select>
      <option value="0">Tamirci Seçiniz:</option>
      <option value="1">Ahmet Oto</option>
      <option value="2">Yıldız Akü</option>
      <option value="3">Karagöz OtoLastik</option>
      
     
    </select>
  </div>

</div>

  <br>
  <br>

  <div class="form-group">
    <label for="comment">Arıza Detaylarını belirtiniz</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  <button type="button"  class="btn btn-outline-danger">İptal Et</button>
  <button type="button" onclick="window.location.href='/homePage';" class="btn btn-outline-primary">Arıza Oluştur</button>

 



  






{% endblock body %}