{% extends "layout.html" %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'forgotPassword.css' %}">
<div class="container">
    <div class="formContainer">
        <div class="textDiv">
            <p>Enter your email address to send yourself a temporary password</p>
        </div>
        <div class="emailDiv">
            <div class="emailText">
                <p>Email Address:</p>
            </div>
            <div class="emailInput">
                <input type="email" id="email" placeholder="...@gmail.com ">
            </div>
        </div>

        <div class="buttonDiv">
            <button id="sendButton" onclick="window.location.href='../login';">Send Password</button>
        </div>

    </div>
</div>

{% endblock body %}