{% extends "layout.html" %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'homePage.css' %}">

<div class="container">
    <div class="textDiv">
        <div class="welcomeText">
            <h1>Hoş Geldiniz</h1>
        </div>
    </div>

    <div class="imageDiv">
        <div class="image1Div">
            <img src="{% static 'images/cekici.jpg' %}" id="leftImage">
        </div>
        <div class="textBetween">
            <p><b>7/24 yardıma hazırız. <br> Araç çekimi, lastik değişimi gibi tüm sorunlarınız için ustalarımızla
                    iletişime geçebilirsiniz.</b></p>
        </div>
        <div class="image3Div">
            <img src="{% static 'images/lastik.jpg' %}" id="rightImage">
        </div>
    </div>
    <div class="buttonDiv">
        <button id="mapButton" onclick="window.location.href='../map';">Find Closest Mechanics</button>
    </div>
</div>
{% endblock body %}