{% extends "layout.html" %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}


<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="row">

    <div class="col-md-6 offset-md-3">
        <br><br><br>
        <h3>Giriş yap</h3>
        <hr>

        <form method="POST">
            {% csrf_token %}    <!--her formda csrf tokeni yazmak gerekiyor-->
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-danger">GİRİŞ YAP</button>
        
        
        </form>
    </div>
</div>

{% endblock body %}