{% extends "layout.html" %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="container">
    <div class="formContainer">
        <div class="emailDiv">
            <div class="emailText">
                <p>Email Address:</p>
            </div>
            <div class="emailInput">
                <input type="email" id="email" placeholder="...@gmail.com ">
            </div>
        </div>

        <div class="pwdDiv">
            <div class="pwdText">
                <p>Password:</p>
            </div>
            <div class="pwdInput">
                <input type="password" id="pwd" placeholder="Enter your password here" required>
            </div>
        </div>

        <div class="buttonDiv">
            <button id="loginButton" onclick="window.location.href='../homePage';">Login</button>
        </div>

        <div class="lastDiv">
            <div class="forgotpwdDiv">
                <a href="window.location.href='../forgotPassword';">Forgot Password?</a>
            </div>
        </div>

    </div>
</div>

{% endblock body %}