{% extends "layout.html" %}

{% load static %} 

{% block body %}
<link rel="stylesheet" href="{% static 'mesajj.css' %}">



<div style="width:100%;">
    <div style="width:50% float:left;" ; class="list-group col-2">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          Hamza Yerlikaya
        </a>
        <a href="#" class="list-group-item list-group-item-action">Sezgin Güneri</a>
        <a href="#" class="list-group-item list-group-item-action">Altay Yılmaz</a>
      </div>
    
    
    
    <div class="chat-popup margin-left:50%;" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>Chat</h1>
      
          <label for="msg"><b>Message</b></label>
          <textarea placeholder="Type message.." name="msg" required></textarea>
      
          <button type="button" class="btn">Send</button>
          <button type="button" class="btn cancel" onclick="window.location.href='/homePage';">Close</button>
        </form>
      </div>

</div>




  
{% endblock body %}