{% extends "layout.html" %}

{% load static %} 

{% block body %}
<link rel="stylesheet" href="{% static 'mesaj.css' %}">
<div class="list-group col-2">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      Hamza Yerlikaya
    </a>
    <a href="#" class="list-group-item list-group-item-action">Sezgin Güneri</a>
    <a href="#" class="list-group-item list-group-item-action">Altay Yılmaz</a>
  </div>
<div id="messageBox">
    <div id="gelen">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div id="giden">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div id="gelen">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div id="giden">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</div>
<div class="messageButton">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Password" >
        <label for="floatingInput">Mesaj Yazınız...</label>
      </div> 
    <button type="button" class="btn btn-primary btn-sm">Gönder</button>
</div>


    
             




{% endblock body %}