{% extends "layout.html" %}
{% load static %}
{% block body %}

{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'register.css' %}">

<div class="row">
<br><br>
    <div class="col-md-6 offset-md-3">
        <br>
        <br>
        <br>
        <br>
        <h3>Kayıt Ol</h3>
        <hr>

        <form method="POST">
            {% csrf_token %}    <!--her formda csrf tokeni yazmak gerekiyor-->
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-danger">Kayıt Ol</button>
        
        
        </form>
    </div>
</div>

    {% endblock body %}