{% extends "layout.html" %}
{% load static %}
{% block body %}
<title>EditProfile</title>
<link rel="stylesheet" href="{% static 'updateProfile.css' %}">



<div class="container my-5 py-5 z-depth-1">
  <section class="px-md-5 mx-md-5 text-center text-lg-left">
    <div class="row d-flex justify-content-center">

      <div class="col-md-8">
        <h2>Edit Your Profile</h2>
        <!--Name-->
        <div class="form-floating" style="margin: 5px;">
          <input type="text" class="form-control" id="name" placeholder="Name">
          <label for="name">Name</label>
        </div>
        <!--Surname-->
        <div class="form-floating" style="margin: 5px;">
          <input type="text" class="form-control" id="surname" placeholder="Surname">
          <label for="surname">Surname</label>
        </div>
        <!--Email-->
        <div class="form-floating" style="margin: 5px;">
          <input type="email" class="form-control" id="email" placeholder="Email">
          <label for="email">Email</label>
        </div>
        <!--Password-->
        <div class="form-floating" style="margin: 5px;">
          <select id="gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <label for="gender">Gender</label>
        </div>
        <div class="form-floating" style="margin: 5px;">
          <input type="tel" class="form-control" id="tel" placeholder="tel">
          <label for="tel1">Tel no.</label>
        </div>
        <div class="form-floating" style="margin: 5px;">
          <input type="date" class="form-control" id="birth" placeholder="Birth Date">
          <label for="birth">Birth Date</label>
        </div>
        <div class="btngrp">
          <button type="button" onclick="window.location.href='../profile';" class="btn btn-primary btn-lg">Save</button>
          <button type="button" onclick="window.location.href='../profile';" class="btn btn-secondary btn-lg">Cancel</button>
        </div>

      </div>

    </div>
  </section>
</div>
{% endblock body %}