.custom-select {
   
    position: center;
    font-family: Arial;
    background-color: DodgerBlue;
  }


<<<<<<< HEAD
 


 
=======
 .container {
  margin-top: 10vh ;
 }
>>>>>>> 846eafb72393411846d3a9859d0f1a2dbf4989db
  