.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8vh ;
    padding: 1vh 0.5vw;
    justify-self: center;
}

.textDiv {
    display: flex;
    width: 60vw;
    justify-self: center;
    justify-content: center;
    align-self: center;
    margin: 3vh 5vw;
}

.welcomeText h1{
    font-weight: bold;
}

.imageDiv {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

#leftImage{
    width: 15vw;
    height: 30vh;
}

.buttonDiv {
    margin: 8vh 4vw;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-self: center;
}

#mapButton {
    width: 15vw;
    min-width: 100px;
    height: 6vh;
    min-height: 30px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 1px #212222;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#rightImage{
    width: 15vw;
    height: 30vh;
}

.textBetween{
    align-self: center;
    text-align: center;
    font-size: 15px;
}